* {
  box-sizing: border-box;
}

li {
  list-style: none;
  padding: 15px 30px 15px 30px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.list-options {
  position: absolute;
  z-index: 5;
  background-color: white;
  transition: 0.5s ease;
  margin-top: 3px;
  border-top: 1px solid grey;
  border-radius: 7px;
  box-shadow: inset#7065f0;
  cursor: pointer;
}

.list-options li {
  border-radius: 0px;
}

.list-options li:hover {
  background-color: #e8e7f8;
}

nav li .down-icon {
  margin-left: 5px;
}

a {
  text-decoration: none;
  color: black
}

nav {
  background-color: #fafbff;
  flex-direction: row;
  display: flex;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}

.main-section {
  padding-right: 10%;
  padding-left: 10%;
  background-color: #f6f7fc;
}

.logo {
  width: 30%;
  justify-content: center;
  padding-left: 30px;
  align-items: center;
}

h1,
h3 {
  margin: 10px 0 10px 0;
  padding: none;
}

.logo {
  display: flex;
  justify-content: flex-start;
  padding-left: 30px;
}

.logo span {
  margin-right: 10px;
  margin-top: 5px;
}

.nav-options {
  width: 40%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.btn-container {
  width: 30%;
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
}

.button {
  margin-left: 20px;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  border: .5px solid #7065f0;
}

.login-btn {
  background-color: white;
  cursor: pointer;
}

.selected {
  background-color: #7065f0;
  color: white;
}

.login-btn:hover {
  background-color: #e8e7f8;
  color: #7065f0;
  border: 0px;
}

.signup-btn {
  background-color: #7065f0;
  color: white;
  cursor: pointer;
}

.signup-btn:hover {
  background-color: blueviolet;
  /* border: 1px solid red; */
}

li:hover {
  background-color: #e8e7f8;
  color: #7065f0;
}

.filter-panel {
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  flex-wrap: wrap;
}

.filter-option {
  cursor: pointer;
  padding: 10px 20px 0px 0px;
}

.border {
  height: 60px;
  border: 1px solid #e8e7f8;
  background-color: #e8e7f8;
  width: 1px;
  margin-left: 40px;
}

.attribute {
  justify-content: center;
  align-items: center;
  display: flex;
}

.property-item-container {
  margin: 40px;
  display: grid;
  grid-template-columns: 400px 400px 400px 400px;
  align-items: center;
  justify-content: center;
  column-gap: 40px;
  flex-wrap: wrap;
}


@media screen and (max-width: 1800px) {
  .property-item-container {
    grid-template-columns: 400px 400px 400px;
  }
}

@media screen and (max-width: 1400px) {
  .property-item-container {
    grid-template-columns: 400px 400px;
  }
}

@media screen and (max-width: 900px) {
  .property-item-container {
    grid-template-columns: 300px;
  }
}